{% extends "base.html" %}
{% load static %}
{% block title %} Password-Reset | Electronic Shop   {% endblock title %}

{% block content %}

    <!--Navbar included-->
    {% include "navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h4 class="text-center fw-bold text-danger mt-4">Forgotten Password?</h4>
                <p class="text-center my-1 p-3 text-muted">
                    No need to worry, Please provide your Email and we will send you a link on your email via mail and after clicking on the link you will be able to reset your password! 😥
                </p>
                <div class="card mt-5">
                    <div class="card-header text-center">
                      Reset Your Password
                    </div>
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {% for field in form  %}
                                <div class="my-2 p-2 px-4">
                                    {{field.label_tag}}
                                    {{field}}
                                    <small class="text-danger text-start">
                                        {{field.errors | striptags }}
                                    </small>
                                </div>
                            {% endfor %}
                            <input type="submit" value="Submit" class="btn btn-warning mt-3 ms-4">
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>


{% endblock content %}


