{% extends "base.html" %}
{% load static %}
{% block title %} Password-Change-Done | Electronic Shop {% endblock title %}  

{% block content %}

    <!--Navbar included-->
    {% include "navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <p class="alert alert-success mt-5">Dear {{request.user}} Your Password has been changed successfully!</p>
            </div>
        </div>
    </div>


{% endblock content %}


