{% extends "base.html" %}
{% load static %}
{% block title %} Password-Reset-Complete | Electronic Shop   {% endblock title %}

{% block content %}

    <!--Navbar included-->
    {% include "navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="card mt-5">
                    <div class="card-header text-center">
                      Reset Your Password
                    </div>
                    <div class="card-body">
                        <p class="p-2">
                           CongratulationsF! Your password has been reset successfully, Now You can login with your new password. Enjoy your day shopping in our store.
                        </p>
                    </div>
                  </div>
            </div>
        </div>
    </div>


{% endblock content %}


