{% extends "base.html" %}
{% load static %}
{% block title %} Password Change | Electronic Shop {% endblock title %}

{% block content %}

    <!--Navbar included-->
    {% include "navbar.html" %}

    <div class="container" id="login">
        <div class="row">
            <div class="col-md-5 py-3 py-md-0" id="side1">
                <h3 class="text-center">Welcome {{request.user}}</h3>
                <p class="p-2 mt-3 text-center text-warning" style="font-size: 0.9rem;"><small>(Change Your Old Password With New One)</small></p>
            </div>
            <div class="col-md-7 py-3 py-md-0" id="side2">
                <h3 class="text-center">Change Password</h3>
                <div class="form-field px-2">
                  <!--login Form-->
                  <form action="{% url "password-change-view" %}" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form  %}
                      <div class="mb-2 p-1 mx-4 mt-4">
                        {{field.label_tag}}
                        {{field}}
                        {% for error in field.errors  %}
                          <small class="text-danger" style="font-size: 0.9rem;">{{error}}</small>
                        {% endfor %}
                      </div>
                    {% endfor %}
                    <!---non-field-errors-->
                    {% if form.non_field_errors %}
                      {% for error in form.non_field_errors  %}
                        <p class="text-center px-3 ">
                          <small class="fw-bold text-danger" style="font-size: 0.8rem;">{{error}}</small>
                        </p>
                      {% endfor %}
                    {% endif %}
                    <input type="submit" value="Save" class="btn btn-warning mt-3 ms-4">
                  </form>
                </div>
            </div>
        </div>
       </div>

{% endblock content %}






