{% extends "base.html" %}
{% load static %}
{% block title %} Password-Reset-Confirm | Electronic Shop {% endblock title %}

{% block content %}

    <!--including nabvar-->
    {% include "navbar.html" %}


    <!--div container-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h4 class="text-center fw-bold text-success mt-4">So We are Here!</h4>
                <p class="text-center my-1 p-3 text-muted">
                    Enter your new password so that you can reset your old password, Thank You for using our Service.
                </p>
                <div class="card mt-5">
                    <div class="card-header text-center">
                      Reset Your Password
                    </div>
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {% for field in form  %}
                                <div class="my-2 p-2 px-4">
                                    {{field.label_tag}}
                                    {{field}}
                                    <small class="text-danger text-start">
                                        {{field.errors | striptags }}
                                    </small>
                                </div>
                            {% endfor %}
                            <input type="submit" value="Submit" class="btn btn-warning mt-3 ms-4">
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>  

{% endblock content %}